html {
    font-family: 'Roboto', sans-serif;
    --main-purple: #5c6ac4;
    --cream: #fff6ef;
    --text-black: #151122;
    --text-gray: #7f7c88;
}
* {
    font-family: 'Roboto', sans-serif;
}
body {
    color: var(--text-black);
}

/*
    Buttons
---------------*/
.btn-custom-sm, .btn-custom-md {
    background: var(--main-purple);
    color: white;
    border-radius: 5px;
}
.btn-custom-sm {
    padding: 7px 21px;
}
.btn-custom-md {
    font-size: 1.125rem;
    padding: 10px 60px;
}
/*
    Section Headings - Used in Carousal and Blog Sections
-----------------------------------------------------------*/
.section-heading {
    font-size: 1.75rem;
    color: var(--text-black);
    font-weight: 500;
    line-height: 1.2;
}
.section-subheading {
    font-size: 0.875rem;
    color: var(--text-gray);
    font-weight: 500;
    line-height: 2;
}
@media (min-width: 768px) {
    .section-heading {
        font-size: 2rem;
    }
    .section-subheading {
        font-size: 1rem;
    }
}